.container {
  color: var(--dark-blue);
  fill: var(--dark-green);
}

/* svg path:hover {
  opacity: 0.8;
  transition: 0.1s ease-in-out;
} */
/* 
.active {
  fill: var(--dark-blue);
} */

.col-3 p {
  background-color: var(--dark-blue);
  color: var(--beige);
  border-radius: 5px;
}
.col-3 p:hover {
  opacity: 0.8;
}
